.AboutMe {
    margin-top: 3rem;

    text-align: left;
}

.AboutMe p {
    text-align: justify;
}

.AboutMe span{
    color: var(--lightpurple);
}

#dark .AboutMe span {
    color: var(--darkpurple);
}

.AboutMe ul {
    list-style-type: none;
    display: inline-block;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-radius: 10px;
}

.AboutMe li {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 10px 0px;
}

#icon a:hover {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--lightpurple);
    margin-left: 2rem;
    transition: 0.4s;
}

#dark #icon a:hover {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--darkpurple);
    margin-left: 2rem;
    transition: 0.4s;
}

.AboutMe a {
    text-decoration: none;
    flex-direction: row;
    display: flex;
    align-items: center;
    color: var(--darkbg);
}

#dark .AboutMe a {
    text-decoration: none;
    flex-direction: row;
    display: flex;
    align-items: center;
    color: var(--lightbg);
}

#icon svg{
    width: 36px;
    height: 36px;
    margin-right: 1rem;
}

#download-button {
    background-color: var(--purplebg);
    color: var(--lightpurple);
    border: none;
    padding: 1rem;
    font-size: 1.8rem;
    margin-top: 1rem;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    text-decoration: none;
}

#dark #download-button {
    background-color: var(--purplebg);
    color: var(--darkpurple);
}

#download-button a {
    color: var(--lightpurple);
}

#dark #download-button a {
    color: var(--lightpurple);
}

#download-button a:after {
    content: "";
    position: absolute;
    background-color: var(--lightpurple);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

#dark #download-button a:after {
    color: var(--darkpurple);
}

#download-button a:hover:after {
    width: 100%;
}

#dark .AboutMe {
    color: white;
}

