.AboutMe {
    margin-top: 3rem;

    text-align: left;
}

.AboutMe p {
    line-height: 170%;
    text-align: justify;
}

.AboutMe span{
    color: #8000FF;
}

.AboutMe ul {
    list-style-type: none;
    display: inline-block;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    
}

.AboutMe li {
    font-size: 2.2rem;
    font-weight: 600;
    margin: 10px 0px;
}

#icon a:hover {
    font-size: 2.2rem;
    font-weight: 600;
    color: #8000FF;
    margin-left: 2rem;
    transition: 0.4s;
}

.AboutMe a {
    text-decoration: none;
    flex-direction: row;
    display: flex;
    align-items: center;
    color: #101010;
}

#icon svg{
    width: 36px;
    height: 36px;
    margin-right: 1rem;
}

#download-button {
    background-color: #ECDAFF;
    color: #8000FF;
    border: none;
    padding: 1rem;
    font-size: 1.8rem;
    margin-top: 1rem;
    border-radius: 10px 10px 0px 0px;

    position: relative;
    text-decoration: none;
    color: #8000ff;
}

#download-button a {
    color: #8000FF;
}

#download-button a:after {
    content: "";
    position: absolute;
    background-color: #8000ff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}

#download-button a:hover:after {
    width: 100%;
}

