.project-card {
    overflow: hidden;
    border: solid 3px var(--lightpurple);
    border-radius: 20px;
    background-color: white;
    box-shadow: 10px 10px 0 -3px var(--purplebg), 10px 10px 0 0 var(--lightpurple);
    margin: 3em 0em;
}

#dark .project-card {
    border: solid 3px var(--darkpurple);
    background-color: var(--darkbg);
    box-shadow: 10px 10px 0 -3px var(--darkbg), 10px 10px 0 0 var(--darkpurple);
}

#dark .project-card a{
    color: var(--darkpurple);
}

.project-card img {
    max-width: 100%;
    transition: all 1s ease;
    /* filter: brightness(80%); */
}

.project-card img:hover {
    transform: scale(1.08);
    /* filter: brightness(100%); */
}

.project-header {
    margin: 2em;
}

.project-header a {
    text-decoration: none;
}